@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('idroid.otf') format(opentype);
    font-weight: normal;

}
:root {
    --cor00:#12ec87;
    --cor01: #15a75e9c;
    --cor02:#33da49;
    --cor03:#0f553a;
    --cor04:#2d8321;
    --cor05:#076831;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-android: 'Android', cursive;  
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor05);
    font-family: var(--fonte-padrao);
}

main p {
    margin: 15px 0px;
    text-align: justify;
}

header {
    background-image: linear-gradient(to bottom, var(--cor03),var(--cor04));
    min-height: 120px;
    text-align: center;
    padding-top: 40px;  
}

header > h1 {
    color: rgb(112, 199, 126);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgb(5, 128, 107)
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: rgb(115, 221, 76);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin: auto;
    text-shadow: 2px 2px 0px rgb(15, 8, 116)
}
nav {
    background-color: var(--cor04);
    padding: 10px;
    box-shadow: 0px 7px 8px  rgba(0, 0, 0, 0.192);
}
nav > a {
    color: rgb(175, 226, 181);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0,5s;
}
nav > a:hover {
    background-color: var(--cor02);
    color: var(--cor05);   
} 

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgb(165, 221, 192);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
}
main h1 {
    color: #1c4724;
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;

}
main h2 {
    font-family: var(--fonte-android);
    color: #467a63;
    font-size: 1.6em;
    background-image: linear-gradient(to right, var
    (--cor02) transparente );
    font-weight: normal;
}

main img {
    width: 100%;
}

main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

div.video {
    background-color: #0f553a;
    margin-bottom: 30px;
    margin: 0% -20px 30px -20px;
    padding: 50px;
    padding-bottom: 55%;
    position: relative;

}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
 aside {
    background-color:#aeddbd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
 }

aside > h3{
    background-color: #083e0f;
    color: #ecf6f4;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px; 
}

 aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
 }

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.0em;
    line-height: 2em;

}
main strong{
    color: #055330;
    font-weight: bolder;
    padding: 2px 6px;
}
    
main a {
    text-decoration: none;
    font-weight: bold;

}

footer {
    background-color: #0b9b7c;
    color: rgb(253, 253, 253);
    text-align: center;
    font-size: 0.8em;
    padding: 3px;
}

 footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
 }

 footer a:hover {
    text-decoration: underline;
    color: aliceblue;
 }